*{
    box-sizing:border-box;
}
html {
    font-family: lato-regular, sans-serif;

}body {
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    /* width: 100%; */
    background-color:#ffffff;   
}a {
    font-size: 1.5rem;
    text-decoration: none;  
    color:#ffffff; 
}img , button {
    cursor: pointer;
}button{
    font-size:2rem;
    margin: 4.5px 9px 0 9.5px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0 10px 6px -6px #777;

}header{

}
.container{
    margin: 0 auto;
}
/* HEADER */
.main-header {
    background-color: #bccce4;
    justify-content: space-between;
    height: 9rem;
    width: 100%;
    margin: 0px;
    padding: 50px 25px 0 24.5px;
    box-shadow: 0 10px 6px -6px #777;
}
.logo {
    font-family: eurofurence, sans-serif;
     font-size: 2rem;
    color: #FFFFFF;
    margin-left:25px;;
}
.main-nav a{
    width: 100%;
    font-size: 1em;
    margin: 15px;
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
}
.nav-container{
padding-right: 25px;
}
.search-line{
    height: 5rem;
    background-color: #fff;
    margin: 0;
}
.upload-img{
   padding: 8px;
}
.file-input{
margin-left: 2.7rem;    
padding-top: 0.8rem;
font-size: 1.8rem;
color: #bccce4;
max-width: 100%;
}
.share-container{
    margin-left: 80px;
}

/* GALLERY */
.main-container{
    width: 100%;
}
.grid-container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
.image-gallery {
    padding: 13.5px 24.5px 13.5px 25px;
    background-color: #e3e3e3;
}

.img-btn{
    width: 100%;
    margin-bottom: .625rem;
    object-fit: contain;
}

/* FOOTER */
.footer-main{
    width: 100%;
    height: 20rem;
    background-color: #bccce4;
}
.footer-main-logo{
    color: #ffffff;
    padding-top: 2rem;
}

/* MODAL */
.meme-editor-modali{
    display: none;
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;   
    overflow: auto; 
    background-color:rgb(227,227,227);
}
.main-editor-container{
 padding: 45px 25px 20px 13px;
 width: 100%;
 height: 85%;
}
.lines-control{
margin-bottom: 1.28rem;
}
.canvas-panel{
    margin-right: 5rem;
    width: 100%;
}
canvas{
    margin-bottom: 2.2rem;
    margin-left: 1.2rem;
}
.control-panel{
    width: 100%; 
}
.control{
    margin-bottom: 40%;
}
.input-txt{
    font-size: 2rem;
    margin: 0 0 1px;
    border-radius: 6px;
    padding:7px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 10px 6px -6px #777;

}
form{
    text-align: center;
}
.btn-download{
    background-color: #bccce4;
    font-size:2rem;
    margin: 4.5px 9px 0 9.5px;
    padding: 7px;
    border-radius: 6px;
    box-shadow: 0 10px 6px -6px #777;

}
.btn-publish{
 background-color: #bccce4;
 padding: 8px;
}
.btn-facebook{
    background-color: #bccce4;
    margin: 4.5px 9px 0 9.5px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
}
.btn-save{
 background-color: #bccce4;
}
.btn-remove{
    background-color: #bccce4;
    align-self: center;

}
.line{
    margin-bottom: 3rem;
}

/* HELPERS */
.flex {
    display: flex;
} 
.justify-content{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
.box {
    box-shadow: 0 10px 6px -6px #777;
}

/* RESPONSIV */
@media screen and (max-width: 780px){
    body{
        overflow-x: hidden;
    }
    canvas{
        margin:auto;  
        width: 320px;
        height: 320px;
    }
    .grid-container{
        grid-row-gap: 2px;
    }
    .file-input{
        font-size: 24px;
        margin: 0px;
    }
    .nav-container{
        padding-right: 0px;
    }
    .container-header{
        flex-direction: column;
    }
    .main-editor-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 7.5rem;
    }
    .meme-editor-modali{
        width: 100vw;
    }
    .control{
        margin-bottom: 2%;
    } 
    .conrianer-editor{
    flex-direction: column;
    margin-top: 10rem;
    }
    .canvas-panel{
        margin: 11px;
    }
    .control-panel{
        align-items: center;
        margin-bottom: 18rem;
    }
    form{
        text-align: center;
        margin-bottom: 3rem;
    }
    .btn-save{
        margin-right: 2rem;
    }
} 



