*{
    box-sizing:border-box;
}
html {
    font-family: lato-regular, sans-serif;

}body {
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:#ffffff;   
}a {
    font-size: 1.5rem;
    text-decoration: none;  
    color: black;
}img , button {
    cursor: pointer;
}button{
    font-size:2rem;
    margin: 4.5px 9px 0 9.5px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    border: none;

    background-color: #ffffff;
}

/* HEADER */
.main-header {
    background-color: #ff7f00;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
    margin: 0px;
    padding: 8.5px 25px 0 24.5px;
}
.logo {
    font-family: eurofurence, sans-serif;
     font-size: 2rem;
    color: #FFFFFF;
    margin-left:25px;;
}
.main-nav a{
    width: 100%;
    font-size: 1em;
    margin: 15px;
    color: white;
    font-family: Montserrat;
    font-weight: lighter;
}
.nav-container{
padding-right: 25px;
}
.search-line{
    height: 5rem;
    background-color: #fff;
    margin: 0;
}
.upload-img{
   padding: 8px;
}
.file-input{
padding-top: 0.8rem;
font-size: 1.8rem;
}
.share-container{
    margin-left: 80px;
}
/* GALLERY */
.main-container{
    width: 100%;
}
.grid-container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
.image-gallery {
    padding: 13.5px 24.5px 13.5px 25px;
    background-color: #e3e3e3;
}
.imgs-panel{
    width: 100%;
    height: 100%;
}
.img-btn{
    width: 100%;
    height: 100%;
    margin: 30px;
    object-fit: contain;
}

/* FOOTER */
.footer-main{
    width: 100%;
    height: 20rem;
    background-color: #ff7f00;
}
.footer-main-logo{
    color: #ffffff;
    padding-top: 2rem;
}

/* MODAL */
.meme-editor-modali{
    display: none;
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;   
    overflow: auto; 
    background-color:rgb(227,227,227);
}
.main-editor-container{
 padding: 45px 25px 20px 13px;
 width: 100%;
 height: 85%;
}
.canvas-panel{
    margin-right: 5rem;
    width: 100%;
}
canvas{
    margin-bottom: 2.2rem;
    margin-left: 1.2rem;
}
.control-panel{
    width: 100%; 
}
.input-txt{
    font-size: 2rem;
    margin: 0 0 1px;
    border-radius: 6px;
    background-color: #ffffff;
}
.btn-download{
    margin: 4.5px 9px 0 9.5px;
    padding: 8px;
    border-radius: 6px;
    background-color: #ff7f00;
}
.btn-publish{
 background-color: #ff7f00;
 padding: 8px;
}
.btn-facebook{
    margin: 4.5px 9px 0 9.5px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #ff7f00;
}
.line{
    margin-bottom: 3rem;
}

/* HELPERS */
.flex {
    display: flex;
} 
.justify-content{
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

/* RESPONSIV */
@media (max-width: 780px){
 
    .main-editor-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 255px;
    }
    .canvas-panel{
        margin: 10px;
    }
    .control-panel{
        align-items: center;
        margin-bottom: 18rem;
    }
    form{
        text-align: center;
    }

        /* overflow-x: hidden;  */

}
